body {
    margin: 0px;
    background-color: rgba(0, 104, 202, 0.37);
    z-index: -1;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 104, 202, .63);
    color: white;
    padding: 20px;
    border-bottom: 3px solid white;
}

#logo {
    position: relative;
    left: 40px;
    height: 80px;
    width: 85px;
}

#link {
    position: relative;
    right: 10px;
    font-family: "Open Sans", "sans-serif";
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#link a {
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 100px;
    margin: 10px;
}

#link a:hover {
    background-color: white;
    color: rgba(0, 104, 202, 0.63);
  }

header {
    position: relative;
    height: 400px;
    background-image: url(http://piscinaplaia.it/wp-content/uploads/2014/09/PiscinafrontaleB.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
    color: white;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

header h1 {
    width: 900px;
    font-family: "Kalam", "cursive";
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 1;
    margin: 0px;
}

header p {
    width: 900px;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    z-index: 1;
    margin: 0px;
}

article {
    display: flex;
    flex-direction: column;
    color: rgb(39, 38, 38);
    margin: 30px 120px;
}

.descrizione {
    height: 200px;
    font-size: 40px;
    text-align: center;
    z-index: 1;
    margin-bottom: 20px;
}

.descrizione h1 {
    font-family: "Bebas Neue", "cursive";
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px;
}

.descrizione p {
    font-family: "Roboto", "sans-serif";
    font-size: 0.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

section {
    height: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

section div {
    width: 48%;
}

section h1 {
    font-family: "Bebas Neue", "cursive";
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    margin: 0px;
}

section img {
    height: 60%;
    width: 100%;
    margin-bottom: 5px;
}

section p {
    font-family: "Roboto", "sans-serif";
    font-size: 15px;
    font-weight: normal;
    height: 25%;
    width: 100%;
    z-index: 1;
    margin: 0px;
}

footer {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid white;
    background-color: rgba(0, 104, 202, .63);
    color: white;
}

.nome_sito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nome_sito img {
    height: 80px;
    width: 85px;
}

.nome_sito h1 {
    font-family: "Kalam", "cursive";
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 1;
    margin: 0px;
}

.info {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    margin: 0px;
}

a {
    cursor: pointer;
}

@media (max-width: 500px) {
    body {
        width: 650px;
    }
}

@media (max-width:500px) {
    header {
       height: 200px;
    }
}

@media (max-width: 500px) {
    article {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    section {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
}

#menu {
    display: none;
}
  
#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
  
@media (max-width: 500px) {
    #link {
      display: none;
    }

    #menu {
      display: block;
    }
}